# Gemini
GOOGLE_GENERATIVE_AI_API_KEY=your_gemini_key
GOOGLE_GENERATIVE_AI_API_KEY_FALLBACK_1=your_second_gemini_key
GOOGLE_GENERATIVE_AI_API_KEY_FALLBACK_2=your_third_gemini_key
KOSH_GOOGLE_MODEL=x
KOSH_GOOGLE_MODEL_FALLBACK_1=y
KOSH_GOOGLE_MODEL_FALLBACK_2=z

# Resend
RESEND_API_KEY=your_resend_key
KOSH_EMAIL_FROM=Kosh <onboarding@resend.dev>
KOSH_EMAIL_REPLY_TO=Kosh <you@example.com>
KOSH_EMAIL_TO=you@example.com,someone@example.com
# KOSH_DATA_DIR=/tmp/kosh-data

# Kite
KITE_API_KEY=your_kite_api_key
KITE_API_SECRET=your_kite_api_secret
KITE_ACCESS_TOKEN=your_kite_access_token
